esdeveniments.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE esdeveniments[
<!ELEMENT esdeveniments(esdeveniment+)>
<!ELEMENT esdeveniment(grup, lloc, data, entrada)>

<!ELEMENT grup(#PCDATA)>
<!ELEMENT lloc (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT entrada (#PCDATA)>
<!ATTLIST entrada gratuita (si|no)>
]>